{% load static %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url('{% static '/images/bg_1.jpg' %}');">
      <!-- url(images/bg_1.jpg) -->
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
        <div class="col-md-8 ftco-animate">
            <div class="text mb-5 pb-5">
              <h1 class="mb-3">Roxandrea</h1>
              <h2>More than a hotel... an experience</h2>
          </div>
        </div>
      </div>
      </div>
    </div>
  
    <div class="slider-item" style="background-image:url('{% static '/images/bg_2.jpg' %}');">
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
        <div class="col-md-8 ftco-animate">
            <div class="text mb-5 pb-5">
              <h1 class="mb-3">Experience Epic Beauty</h1>
              <h2>Roxandrea Hotel &amp; Resort</h2>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>