{% extends 'frontsite/layout/main.html' %}
{% load static %}

{% block content %}
		<div class="hero-wrap" style="background-image: url('{% static '/images/bg_1.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="home.html">Home</a></span> <span>Restaurant</span></p>
	            <h1 class="mb-4 bread">Restaurant</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

		<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
          	<div class="row">
          		<div class="col-md-12 ftco-animate">
          			<div class="single-slider owl-carousel">
                  {% if room %}
                  <div class="item">
                    <div class="room-img">
                      <img src="{{ room.room_image.url}}" alt="connect" style="max-height:300px">
                    </div>
          				</div>
                  {% endif %}
          				
          				<!-- <div class="item">
          					<div class="room-img" style="background-image: url('{% static '/images/room-5.jpg' %}');"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url('{% static '/images/room-6.jpg' %}');"></div>
          				</div> -->
          			</div>
          		</div>
              
              <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
          			<h2 class="mb-4">{{ room.room_title }} <span>- (10 Available rooms)</span></h2>
    						<p>{{ room.room_description }}</p>
    						<div class="d-md-flex mt-5 mb-5">
    							<ul class="list">
                    <!-- <li><span>Room Type:</span> {% for roomtype in room.roomtype.all %}{{ roomtype }}<br/>{% endfor %}</li> -->
                    
	    							<!-- <li><span>Max:</span> 3 Persons</li>
	    							<li><span>Size:</span> 45 m2</li> -->
	    						</ul>
	    						<ul class="list ml-md-5">
	    							<li><span>View:</span> {{ room.room_capacity }}</li>
	    							<li><span>Bed:</span> {{ room.room_avaibility }}</li>
                    <li><span>Bed:</span> {{ room.available_date }}</li>
	    						</ul>
    						</div>
    						<!-- <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p> -->
          		</div>
              
          		
          		<!-- <div class="col-md-12 room-single ftco-animate mb-5 mt-4">
          			<h3 class="mb-4">Take A Tour</h3>
          			<div class="block-16">
		              <figure>
		                <img src="images/room-4.jpg" alt="Image placeholder" class="img-fluid">
		                <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
		              </figure>
		            </div>
          		</div> -->
          	</div>
            {% include 'frontsite/room-single-components/review.html' %}
          </div> <!-- .col-md-8 -->
          {% include 'frontsite/room-single-components/sidebar.html' %}
        </div>
      </div>
    </section> <!-- .section -->


{% endblock %}

